{% extends 'base.html' %}
{% block title %}Profile{% endblock %}

{% block content %}
<div class="container rounded bg-white mt-5 mb-5 shadow-sm">
    <div class="row">
        <div class="col-md-3 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                <img class="rounded-circle mt-5" width="150px" src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg">
                <span class="font-weight-bold">{{g.user.name}} {{g.user.surname}}</span>
                <span class="text-black-50">{{g.user.email}}</span>
            </div>
        </div>
        <div class="col-md-5 border-right">
            <form class="p-3 py-5" method="post" enctype="multipart/form-data">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="text-right">Profile Settings</h4>
                </div>
                <div class="row mt-2">
                    <div class="col-md-6"><label class="labels">Name</label><input type="text" class="form-control" placeholder="first name" name="name" id="name" value="{{g.user.name}}" required></div>
                    <div class="col-md-6"><label class="labels">Surname</label><input type="text" class="form-control" placeholder="surname" name="surname" id="surname" value="{{g.user.surname}}" required></div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-12"><label class="labels">Email ID</label><input type="text" class="form-control" placeholder="enter email id" name="email" id="email" value="{{g.user.email}}" required></div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-12">
                        <label class="labels">Role</label>
                        <select class="form-control" aria-label="Role" name="role" id="role" required>
                            <option value="" selected disabled hidden>Select your role</option>
                            {% for role in roles %}
                                <option value="{{role.id}}" {% if g.user.role.id == role.id %}selected{% endif %}>{{role.name}}</option>
                            {% endfor %}
                        </select>
                    </div>

                </div>
                <div class="mt-5 text-center"><button class="btn btn-primary profile-button" type="submit">Save Profile</button></div>
            </form>
        </div>
        <div class="col-md-4">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center experience"><span>Edit Experience</span><span class="border px-3 p-1 add-experience"><i class="fa fa-plus"></i>&nbsp;Experience</span></div><br>
                <div class="col-md-12"><label class="labels">Experience in Computer Science</label><input type="text" class="form-control" placeholder="experience" value=""></div> <br>
                <div class="col-md-12"><label class="labels">Additional Details</label><input type="text" class="form-control" placeholder="additional details" value=""></div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
